{% extends "master.html" %}
{% load static %}

{% block title %}
  4 Business Services - Contact Us
{% endblock %}


{% block content %}
<section class="page-header">
  <div class="page-header__bg"></div>
  <div class="page-header__shape"><img src="{% static 'assets/images/shapes/page-header-shape.png' %}" alt="hiredots"></div>
  <!-- /.page-header__bg -->
  <div class="container">
      <h2 class="page-header__title">Contact</h2>
      <ul class="hiredots-breadcrumb list-unstyled">
          <li><a href="index.html">Home</a></li>
          <li><span>Contact</span></li>
      </ul><!-- /.thm-breadcrumb list-unstyled -->
  </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="contact-one pt-100 pb-100">
  <div class="container">
      <div class="contact-one__inner">
          <div class="row">
              <div class="col-lg-6">
                  <div class="contact-one__content">
                      <div class="sec-title text-@@textAlign">

                          <h6 class="sec-title__tagline">Contact us</h6><!-- /.sec-title__tagline -->

                          <h3 class="sec-title__title">Feel Free to Get in Touch <br> with For Business Services</h3><!-- /.sec-title__title -->
                      </div><!-- /.sec-title -->
                      <p class="contact-one__text">Aliquam hendrerit a augue insuscipit. Etiam aliquam massa quis des
                          mauris commodo venenatis ligula commodo leez sed blandit convallis dignissim onec vel
                          pellentesque neque.
                      </p><!-- /.contact-one__text -->
                      <ul class="list-unstyled contact-one__info">
                          <li class="contact-one__info__item">
                              <div class="contact-one__info__icon">
                                  <i class="icon-phone-call-1"></i>
                              </div><!-- /.contact-one__info__icon -->
                              <div class="contact-one__info__content">
                                  <p class="contact-one__info__text">Have Question?</p>
                                  <!-- /.contact-one__info__text -->
                                  <h4 class="contact-one__info__title"> <a href="tel:+201006671457">+ 20 (0100)-6671457</a></h4><!-- /.contact-one__info__title -->
                              </div><!-- /.contact-one__info__content -->
                          </li>
                          <li class="contact-one__info__item">
                            <div class="contact-one__info__icon">
                                <i class="fab fa-whatsapp"></i>
                            </div><!-- /.contact-one__info__icon -->
                            <div class="contact-one__info__content">
                                <p class="contact-one__info__text">Contact via WhatsApp</p>
                                <!-- /.contact-one__info__text -->
                                <h4 class="contact-one__info__title">
                                    <a href="https://wa.me/+201001711441?text=ForBusiness Services" target="_blank">+201001711441</a>
                                </h4>
                                <!-- /.contact-one__info__title -->
                            </div><!-- /.contact-one__info__content -->
                        </li>
                          <li class="contact-one__info__item">
                              <div class="contact-one__info__icon">
                                  <i class="icon-message"></i>
                              </div><!-- /.contact-one__info__icon -->
                              <div class="contact-one__info__content">
                                  <p class="contact-one__info__text">Write Email </p>
                                  <!-- /.contact-one__info__text -->
                                  <h4 class="contact-one__info__title"><a href="mailto:contact@forbusinesseg.com">contact@forbusinesseg.com</a></h4>
                                  <!-- /.contact-one__info__title -->
                              </div><!-- /.contact-one__info__content -->
                          </li>
                          <li class="contact-one__info__item">
                              <div class="contact-one__info__icon">
                                  <i class="icon-placeholder"></i>
                              </div><!-- /.contact-one__info__icon -->
                              <div class="contact-one__info__content">
                                  <p class="contact-one__info__text">Visit Anytime</p> <!-- /.contact-one__info__text -->
                                  <h4 class="contact-one__info__title"><a href="#">36 Gamal Salem, Ad Doqi, Dokki, Giza Governorate</a></h4><!-- /.contact-one__info__title -->
                              </div><!-- /.contact-one__info__content -->
                          </li>
                      </ul><!-- /.list-unstyled -->
                  </div><!-- /.contact-one__content -->
              </div><!-- /.col-lg-6 -->
              <div class="col-lg-6">
                  <div class="contact-one__left">
                    <form class="contact-one__form contact-form-validated form-one background-base wow fadeInUp" data-wow-duration="1500ms" method="post" action="{% url 'send_email' %}">
                        {% csrf_token %}
                        <div class="form-one__group">
                            <div class="form-one__control form-one__control--full">
                                <input type="text" name="name" placeholder="Your name" required>
                            </div><!-- /.form-one__control form-one__control--full -->
                            <div class="form-one__control form-one__control--full">
                                <input type="email" name="email" placeholder="Email address" required>
                            </div><!-- /.form-one__control form-one__control--full -->
                            <div class="form-one__control form-one__control--full">
                                <input type="text" name="phone" placeholder="Phone number" required>
                            </div><!-- /.form-one__control form-one__control--full -->
                            <div class="form-one__control form-one__control--full">
                                <textarea name="message" placeholder="Write a message" required></textarea><!-- /# -->
                            </div><!-- /.form-one__control -->
                            <div class="form-one__control form-one__control--full">
                                <button type="submit" class="hiredots-btn hiredots-btn--white"><span>Send a message</span></button>
                            </div><!-- /.form-one__control -->
                        </div><!-- /.form-one__group -->
                    </form>
                    
                  </div>

              </div><!-- /.col-lg-6 -->
          </div><!-- /.row -->
      </div><!-- /.contact-one__inner -->
  </div><!-- /.container -->
</section><!-- /.contact-one -->

<section class="contact-map">
  <div class="container">
      <div class="google-map google-map__contact">
          <iframe title="template google map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.971356566519!2d31.201929699999997!3d30.037679599999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145846cc5b3b174b%3A0xfbef54ab1b664ae4!2sForbusiness%20Business%20Services!5e0!3m2!1sen!2seg!4v1718733991767!5m2!1sen!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map__contact" allowfullscreen></iframe>
      </div>
      <!-- /.google-map -->
  </div><!-- /.container-fluid -->
</section><!-- /.contact-map -->

  

{% endblock %}