
{% extends "master.html" %}
{% load static %}


{% block title %}
  4 Business Services - About Us
{% endblock %}


{% block content %}
<style>
    .faq-page-search{
        padding-top: 40px;
    }
</style>
<section class="page-header">
            <div class="page-header__bg"></div>
            <div class="page-header__shape"><img src="{% static 'assets/images/shapes/page-header-shape.png'%}" alt="hiredots"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">FAQs</h2>
                <ul class="hiredots-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>FAQs</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="faq-page-search">
            <div class="container">
                <div class="faq-page-search__inner wow fadeInUp" data-wow-duration="1500ms">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sec-title text-center">

                                <h6 class="sec-title__tagline">frequently asked questions</h6><!-- /.sec-title__tagline -->

                                <h3 class="sec-title__title">Have Any Questions? Look <br>Here for it Now!</h3><!-- /.sec-title__title -->
                            </div><!-- /.sec-title -->
                            <form action="#" class="faq-page-search__form">
                                <input type="text" id="error-search" placeholder="Search here">
                                <button type="submit" class="faq-page-search__form__btn" aria-label="search submit">
                                    <span><i class="icon-magnifying-glass"></i></span>
                                </button>
                            </form><!-- /.faq-page-search__form -->
                        </div><!-- /.col-lg-12 -->
                    </div><!-- /.row -->
                </div><!-- /.faq-page-search__inner -->
            </div><!-- /.container -->
        </section><!-- /.faq-page-search -->


        <section class="faq-page">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="faq-page__contact background-base">
                            <h3 class="faq-page__contact__title">have Questions?
                                Call Now!</h3><!-- /.faq-page__contact__title -->
                            <div class="faq-page__contact__text">
                                <i class="icon-phone-call"></i>
                                <p class="faq-page__contact__number">
                                    Have Question?<br>
                                    Free <a href="tel:+9288009850">+92 (8800) - 9850</a>
                                </p><!-- /.faq-page__contact__number -->
                            </div><!-- /.faq-page__contact__text -->
                        </div><!-- /.faq-page__contact -->
                        <div class="faq-page__contact__img">
                            <img src="{% static 'assets/images/resources/faq-1-img.jpg'%}" alt="faq">
                        </div>
                    </div><!-- /.col-lg-4 col-xl-3 -->
                    <div class="col-lg-8">
                        <div class="faq-page__accordion hiredots-accrodion" data-grp-name="hiredots-accrodion">
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>
                                        What Does your Process Look Like?
                                        <span class="accrodion-title__icon"></span><!-- /.accrodion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            There are many variations of passages the majority have simply free text available in the lorem ipsum market for free
                                            now suffered alteration in some fo injected humour, or randomised words believable.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accrodion active">
                                <div class="accrodion-title">
                                    <h4>Learn How We Create Unmatched Solutions
                                        <span class="accrodion-title__icon"></span><!-- /.accrodion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            There are many variations of passages the majority have simply free text available in the lorem ipsum market for free
                                            now suffered alteration in some fo injected humour, or randomised words believable.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>
                                        What We should do If our skin gets dry?
                                        <span class="accrodion-title__icon"></span><!-- /.accrodion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            There are many variations of passages the majority have simply free text available in the lorem ipsum market for free
                                            now suffered alteration in some fo injected humour, or randomised words believable.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accrodion">
                                <div class="accrodion-title">

                                    <h4>How Long do Services Take to Complete?
                                        <span class="accrodion-title__icon"></span><!-- /.accrodion-title__icon -->

                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            There are many variations of passages the majority have simply free text available in the lorem ipsum market for free
                                            now suffered alteration in some fo injected humour, or randomised words believable.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>
                                        How Can i Find my Financial Record?
                                        <span class="accrodion-title__icon"></span><!-- /.accrodion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            There are many variations of passages the majority have simply free text available in the lorem ipsum market for free
                                            now suffered alteration in some fo injected humour, or randomised words believable.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>
                                        How Long do Services Take to Complete?
                                        <span class="accrodion-title__icon"></span><!-- /.accrodion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            There are many variations of passages the majority have simply free text available in the lorem ipsum market for free
                                            now suffered alteration in some fo injected humour, or randomised words believable.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                            <div class="accrodion">
                                <div class="accrodion-title">
                                    <h4>
                                        How Can i Find my Financial Record?
                                        <span class="accrodion-title__icon"></span><!-- /.accrodion-title__icon -->
                                    </h4>
                                </div><!-- /.accordian-title -->
                                <div class="accrodion-content">
                                    <div class="inner">
                                        <p>
                                            There are many variations of passages the majority have simply free text available in the lorem ipsum market for free
                                            now suffered alteration in some fo injected humour, or randomised words believable.
                                        </p>
                                    </div><!-- /.accordian-content -->
                                </div>
                            </div><!-- /.accordian-item -->
                        </div>
                    </div><!-- /.col-lg-8 col-xl-9 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.faq-page-accordion -->

        {% endblock %}  







