{% extends "master.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
  4 Business Services - {{job.jobtitle}}
{% endblock %}


{% block content %}
<style>
    .blog-one{
        padding: 40px !important;
    }
</style>
       
       <section class="page-header">
            <div class="page-header__bg"></div>
            <div class="page-header__shape"><img src="{% static 'assets/images/shapes/page-header-shape.png'%}" alt="hiredots"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <h2 class="page-header__title">Job Details</h2>
                <ul class="hiredots-breadcrumb list-unstyled">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Job Details</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="blog-one blog-one--page">
            <div class="container">
                <!-- Job Detail Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row gy-5 gx-4">
                    <div class="col-lg-8" style="margin-top: 0px !important;">
                        <div class="d-flex align-items-center mb-5">
                            {% if job.recruiterid__recruiterlogo %}
                            <img class="flex-shrink-0 img-fluid border rounded" src="/media/{{ job.recruiterid__recruiterlogo }}" alt="" style="width: 80px; height: 80px;">
                            {% else %}
                            <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;"> 
                            {% endif %}

                            <div class="text-start ps-4">
                                <h3 class="mb-3">{{job.jobtitle}}</h3>
                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{job.placeofwork}}</span>
                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{job.contracttype}}</span>
                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>{{job.salary}}</span>
                            </div>
                        </div>

                        <div class="mb-5">
                            <h4 class="mb-3">Job description</h4>
                            <p>{{job.description}}</p>
                            <h4 class="mb-3">Qualifications</h4>
                            <p>{{job.qualifications}}</p>
                        </div>
        
                        <div class="">
                            <h4 class="mb-4">Apply For The Job</h4>
                            <form id="applform" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                               
                                <div class="row g-3">
                                    <div class="col-12 col-sm-6">
                                        {{ form.fullName.label_tag }}
                                        {{ form.fullName }}
                                        {% if form.fullName.errors %}
                                            <div class="text-danger">
                                                {{ form.fullName.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{ form.email.label_tag }}
                                        {{ form.email }}
                                        {% if form.email.errors %}
                                            <div class="text-danger">
                                                {{ form.email.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{ form.mobile.label_tag }}
                                        {{ form.mobile }}
                                        {% if form.mobile.errors %}
                                            <div class="text-danger">
                                                {{ form.mobile.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        {{ form.gender.label_tag }}
                                            <div>
                                                {% for radio in form.gender %}
                                                    <div class="form-check form-check-inline">
                                                        {{ radio.tag }}
                                                        <label class="form-check-label">{{ radio.choice_label }}</label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            {% if form.gender.errors %}
                                                <div class="text-danger">
                                                    {{ form.gender.errors }}
                                                </div>
                                            {% endif %}
                                       
                                    </div>
                                    <div class="col-12">
                                        {{ form.coverletter.label_tag }}
                                        {{ form.coverletter }}
                                        {% if form.coverletter.errors %}
                                            <div class="text-danger">
                                                {{ form.coverletter.errors }}
                                            </div>
                                        {% endif %}
                                       
                                    </div>
                                    <div class="col-12">
                                        {{ form.cvFile }}
            {% if form.cvFile.errors %}
                <div class="text-danger">
                    {% for error in form.cvFile.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
                                    </div>
                                    <span style="font-size: smaller;">Attached file must be in word or pdf format</span>
                                    <!-- Adding the jobid field as a hidden input -->
                                    {{ form.jobid }}
                                    <div class="col-12">
                                        {% if form.non_field_errors %}
                                            <div class="text-danger">
                                                {{ form.non_field_errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-12">
                                        <button class="hiredots-btn" type="submit">Apply Now</button>
                                    </div>
                                </div>
                            </form>
                            
                            
                        </div>
                    </div>
        
                    <div class="col-lg-4">
                        <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="mb-4">Job Summery</h4>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: {{job.createddate}}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: 123 Position</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: {{job.contracttype}}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Salary: {{job.salary}}</p>
                            <p><i class="fa fa-angle-right text-primary me-2"></i>{{job.placeofwork}}</p>
                            <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Date Line: {{job.validdate}}</p>
                        </div>
                        <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                            <h4 class="mb-4">Company Detail</h4>
                            <p class="m-0">Ipsum dolor ipsum accusam stet et et diam dolores, sed rebum sadipscing elitr vero dolores. Lorem dolore elitr justo et no gubergren sadipscing, ipsum et takimata aliquyam et rebum est ipsum lorem diam. Et lorem magna eirmod est et et sanctus et, kasd clita labore.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Detail End -->

            </div><!-- /.container -->
        </section><!-- /.blog-one blog-one--page -->
        {% endblock %}